# Backend Environment Variables (Vercel / Render / Railway)
PORT=5000
MONGO_URI=mongodb+srv://Divyam:DIVyam%4031@cluster0.shioo2n.mongodb.net/animeCharacters?retryWrites=true&w=majority
NODE_ENV=production
